name: Test coverage

on: [push, pull_request]

jobs:
  test-coverage:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Use Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '24'

    - name: Install dependencies
      run: npm install
      working-directory: cms-app
    
    - name: Get test coverage
      run: npm test -- --coverage
      working-directory: cms-app
